<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>我的评论</title>
	<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css"/>
	<link href="/css/themify-icons/style.css" type="text/css" rel="stylesheet">
	<script language="javascript" th:src="@{/js/tool.js}" type="text/javascript"></script>
	<script language="javascript" th:src="@{/js/ajax.js}" type="text/javascript"></script>
	<script language="javascript" src="/js/json2.js" type="text/javascript"></script>
	<script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}" language="javascript"></script>
	<link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.js}" language="javascript"></script>
</head>
<script type="text/javascript" language="javascript"> 
	
	
</script>
<body>
<div th:replace="reception/index ::index-head"></div>
<div class="skeleton">
	<div class="main wrap backgroundModule" >
		<!--		 引入服务导航-->
		<div>
			<ul class="serviceNav">
				<li th:class="${path}=='mytopic'?'title selected':'title'"><a href="/forum/user/mytopic">我的话题</a></li>
				<li th:class="${path}=='mycomment'?'title selected':'title'"><a href="/forum/user/commentList">我的评论</a></li>
				<li th:class="${path}=='myreply'?'title selected':'title'"><a href="/forum/user/replyList">我的回复</a></li>
				<li th:class="${path}=='editUser'?'title selected':'title'"><a href="/forum/user/editUser">修改个人资料</a></li>
			</ul>
		</div>
	
		<div class="dataTable">
			<TABLE class="dataList" width="100%">
				<THEAD>
					<TR class="dataThead">
						<TH width="50%">评论</TH>	
						<TH width="30%">评论的话题</TH>	
						<TH width="20%">发表时间</TH>
					</TR>
				</THEAD>
				<TBODY>
				<th:block th:unless="${#lists.isEmpty(commentLists)}">
					<th:block th:each="comment:${commentLists}">

					<TR>
						<TD class="dataTD">
								<a href="thread?topicId=${comment.topicId}&commentId=${comment.id}" target="_blank" class="link" th:text="${comment.content}"></a>
						</TD>
						<TD class="dataTD">
							<a th:href="'thread?topicId='+${comment.topicId}" target="_blank" class="link" th:text="${comment.topicTitle}"></a>
									
						</TD>
						<TD class="dataTD" th:text="${comment.postTime}">

						</TD>
		    		</TR>
						<th:block th:if="${#lists.isEmpty(commentLists)}">

						<TR>
							<TD colSpan="3"  class="empty">还没有评论记录</TD>
		    			</TR>
						</th:block>
		    	</TBODY>
			</TABLE>

		<th:block th:unless="${#lists.isEmpty(commentLists)}">
			<DIV class=pageList>
				<nav aria-label="Page navigation example" th:fragment="Page">

					<ul class="pagination justify-content-end">
						<span class="" th:text="'共'+${total}+'条,当前'+${page}+'/'+${totalPage}+'页'" style="margin-right: 20px;margin-top: 7px "></span>
						<li th:class="${page>1}?'page-item':'page-item disabled' ">
							<a th:href="'/forum/user/commentList?page='+${page-1}" class="page-link">上一页</a>
						</li>
						<li th:class="${page<totalPage}?'page-item':'page-item disabled'">
							<a class="page-link" th:href="'/forum/user/commentList?page='+${page+1}">下一页</a>
						</li>
					</ul>
				</nav>
			</DIV>
		</th:block>

		</div>

	</div>

</div>
<div th:replace="reception/index :: foot"></div>

</body>

</html>
