<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gzhh.forum.mapper.CommentMapper">


    <select id="selectByTopicId" resultType="edu.gzhh.forum.entity.Comment">
        select a.comment_id as commentId,a.uid as uid,b.uname as uname,b.account as account,
        b.head_url as headUrl,
        a.topicId as topicId,
        a.content as content,
        a.postTime as postTime,
        a.totalReply as totalReply
        from comment as a
        inner join
        user as b
        on a.uid = b.uid
        where a.topicId = #{topicId} and audit != 3
        order by a.postTime asc
        limit #{start},#{limit}
    </select>
    <update id="updateAudit" parameterType="java.util.List">
        <foreach collection="commentIds" index="index" item="item" open="" close="" separator=";">
            update comment
            set audit=#{audit}
            where comment_id=${item}
        </foreach>
    </update>
</mapper>
