<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gzhh.forum.mapper.SensitivityMapper">
<select id="selectOrderByTimeOrAuditByLimit" resultType="edu.gzhh.forum.entity.Sensitivity">
    select id,type,cid,senWord,createTime,audit
    from sensitivity
    <if test="audit!=null and audit!=3">
    where audit=#{audit}
    </if>
    <if test="audit!=null and audit==3">
        where audit!=0
    </if>
    order by createTime asc
    limit #{start},#{limit}

</select>

    <select id="selectTypeIdsByTypeAndAudit" resultType="long">
        select cid
        from sensitivity
        where type=#{type} and audit=#{audit}
    </select>
<update id="updateAuditByCid" parameterType="java.util.List">
    <foreach collection="cids" index="index" item="item" open="" close="" separator=";">
        update sensitivity
        set audit = #{audit}
        where cid = #{item}
    </foreach>
</update>
    <update id="updateSensitivityAuditByIds" parameterType="java.util.List">
        <foreach collection="ids" index="index" item="item" open="" close="" separator=";">
            update sensitivity
            set audit = #{audit}
            where id = #{item}
        </foreach>
    </update>
</mapper>
