<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv=”content-type” content=”text/html; charset=UTF-8″ />
		<meta name="viewport" content="width=device-width, initial-scale-1.0"/>
		<title>注册</title>
		<link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.css}" >
		<link rel="stylesheet" th:href="@{/css/reg.css}">
		<script th:src="@{/plugins/jquery/jquery-3.6.0.min.js}"></script>
		<script th:src="@{/js/DataDeal.js}"></script>
		<script th:src="@{/js/register.js}"></script>
		<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{https://cdn.bootcdn.net/ajax/libs/sweetalert/2.1.2/sweetalert.min.js}"></script>

	</head>
	<body>
		
		<div class="table-bordered center-block">
		 <form class="form-horizontal" id="regist_table" onsubmit="return false;">
			<div class="center-block text-info" style="text-align: center;">
				<h2>注册</h2>
				   </div>
			<div class="form-group row">
				<label for="uname" class="col-sm-3 col-form-label font-weight-bold ">用户名</label>
				<div class="col-sm-5">
				  <input type="text"  onblur="CheckItem(this)" class="form-control" id="uname" name="uname">
				</div>
			  </div>


	
			  <div class="form-group row">
				<label for="inputPassword" class="col-sm-3 col-form-label font-weight-bold" >密码</label>
				<div class="col-sm-6">
				  <input type="password" class="form-control" onblur="CheckItem(this)" id="inputPassword" name="password">
				</div>
			  </div>
			  <div class="form-group row">
				<label for="inputPassword3" class="col-sm-3 col-form-label font-weight-bold" >确认密码</label>
				<div class="col-sm-6">
				  <input type="password" name="respassword" class="form-control" onblur="CheckItem(this)" id="inputPassword3">
				</div>
			  </div>
			  <div class="form-group row">
				<label for="inputphone" class="col-sm-3 col-form-label font-weight-bold">手机号</label>
				<div class="col-sm-4">
				  <input type="text" class="form-control" id="inputphone" onblur="CheckItem(this)" name="phone">
				</div>
			  </div>
			  <div class="form-group row">
				<label for="inputEmail3" class="col-sm-3 col-form-label font-weight-bold">Email</label>
				<div class="col-sm-5">
				  <input type="text" class="form-control" onblur="CheckItem(this)" id="inputEmail3"name="email">
				</div>
			  </div>
			  <div class="form-group row">
				<label for="sex" class="col-sm-3 col-form-label font-weight-bold">性别</label>
				<div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-left: 15px;">
					<label class="btn btn-secondary">
					<input type="radio" name="sex" id="sex" value="1">男
					</label>
					<label class="btn btn-secondary">
						<input type="radio" name="sex" id="sex" value="2">女
					</label>
				</div>
			  </div>
			 <div class="form-group row">
				 <label for="code" class="col-sm-3 col-form-label font-weight-bold">验证码</label>
				 <div class="col-sm-3">
					 <input type="text" class="form-control" onblur="CheckItem(this)" id="code"name="code">
				 </div>
				 <div class="col-sm-3">
					 <img src="getcode" id="codeimg" alt="看不清，换一张" onclick="change()" style="margin-top:-5px;position: relative;" >
				 </div>

			 </div>
	
			  
				<div class="col-sm-5 center-block">
					<button id="register" type="button"  class="btn btn-primary btn-lg center-block btn-block btn-grad" style="font-weight: bold;">提交</button>
				</div>
			

			  </div>
			

		
	 

		  </form>
		</div> 

	</body>
	<script type="text/javascript">







	</script>

</html>
